@using Resources;
@{
    ViewBag.Title = "Delivery";
}

<h2 class="GreyFontDelivery">@Resource.DeliveryandPayment</h2>
<p><h4>@Resource.DeliveryDescription</h4></p>
<h3 class="GreyFontDelivery">@Resource.HowBuyComics</h3>
<ul> 
  <li>@Resource.BuyComicsOffline</li>
    <li>@Resource.Arrange</li>
    <li>@Resource.CourierDelivery.</li>
</ul>
<h3 class="GreyFontDelivery">@Resource.Couriedeliverys</h3>
<ul>
    <li><p>@Resource.ArrangeDelivery</p></li>
    <li><p>@Resource.DeliveryNextDay</p></li>
    <li><p>@Resource.ManagerCall</p></li>
    <li><p>@Resource.DeliveryPrice</p></li>
    <li><p>@Resource.PaymentType</p></li>
</ul>
<h3 class="GreyFontDelivery">@Resource.DeliveryToBelarus</h3>
<p><h4>@Resource.PostOfficeDelivery</h4></p>
<ul>
<li><p>@Resource.PostOfficeDeliveryType</p></li>
<li><p>@Resource.DeliveryTime</p></li>
<li><p>@Resource.PostOfficeManager</p></li>
<li><p>@Resource.DeliveryPrice</p></li>
</ul>